@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// variables
$inactive: rgb(142, 152, 180);
$active: blue;
$error: red;

@mixin status($color) {
    .email {
        border: $color solid 3px;
    }
    .subscribe {
        background-color: $color;
        border: $color;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(500px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes wiggle {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(15px);
    }
}

// blanket rules
body {
    font-family: Roboto, sans-serif;
}

.sub-div {
    overflow: hidden;
    margin: 100px auto auto auto;
    width: max-content;
    border-radius: 3px;
    max-height: 100px;
    box-shadow: 0px 5px 10px 10px #ddd;
    animation: 1.5s ease 0s 1 slideUp;

    form {
        overflow: hidden;
        padding: 20px;
        display: grid;
        grid-template-columns: 2fr 1fr;

        input {
            padding: 0px;
            margin: 5px;
            border-radius: 3px;
        }

        .email {
            height: 40px;
            padding-left: 10px;
            animation: 2.5s ease 0s 1 slideUp;
        }
        
        .subscribe {
            animation: 3s ease 0s 1 slideUp;
            font-weight: bold;
            height: 46px;
            width: 100px;
            color: white;
        }
    }

    .inactive {
        @include status($inactive);
    }
    
    .active {
        @include status($active);
    }

    .error {
        @include status($error);
    }
    
    &.error {
        animation: wiggle 0.2s linear 0s 4 alternate;
    }
}